<div id="nav">
    <div class="nav-up">
        <div class="nav-logo">
            <img src="\assets\Logo.png" alt="logo" id="logo">
        </div>

        <% if(user && user?.isAdmin){ %>
            <a href="/admin">Analysis</a>
            <a href="/tickets">All Tickets</a>
            <a href="/categories">All Categories</a>
            <a href="/technician">All Technicians</a>
        <% } else if (!user.isAdmin) { %>
            <a href="/tickets/myTickets">All Tickets</a>
        <% }%>
    </div>

    <div class="nav-down">
        <a href="/auth/sign-out">➜] Logout</a>
    </div>


</div>