<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tickets</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('../partials/navbar') %>
    <h1>All Tickets</h1>

    <% allTickets.forEach( ticket => ( %>
        <div class="ticket-card">
            <p><%= ticket._id %></p>
        </div>
    <% )) %>
    
</body>
</html>