<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ticket</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>

</head>
<body>

    <%- include('../partials/navbar') %>

    <div class="content">
        <h1>New Ticket</h1>

        <form action="/tickets" method="POST">
            <div class="form-group">
                <label for="category">Category:</label>

                <select name="category" id="category">
                    <option value="">-- Select Category --</option>
                    <% categories.forEach( cat => { %> 
                        <% if(!cat.isSubCategory && cat.isActive){ %> 
                            <option value="<%= cat._id %>"><%= cat.name %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>

            <div id="sub-category-container" class="form-group">
                <label for="">Subcategory</label>
                <select disabled name="subcategory" id="sub-category"
                ></select>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" id="description"></textarea>
            </div>

            <div class="form-group">
                <label for="building">Building:</label>
                <input type="text" name="building" id="building">
            </div>

            <div class="form-group">
                <label for="room">Room:</label>
                <input type="text" name="room" id="room">
            </div>
        </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    
    <script defer>
        const selectElement = document.querySelector('#category')
        console.log(selectElement)

        const subCatContainerEl = document.querySelector('#sub-category')

        async function getSubCategories(event){
            subCatContainerEl.innerHTML = ''

            
        const allSubCategories = await axios.get(`/categories/sub-categories/${event.target.value}`)
        console.log(allSubCategories.data.subcategories)

        allSubCategories.data.subcategories.forEach(element => {
            const newOption = document.createElement('option')
            newOption.textContent = element.name
            newOption.value= element._id
            subCatContainerEl.appendChild(newOption)
        });
        subCatContainerEl.disabled = false
        }

        selectElement.addEventListener('change',getSubCategories)

    </script>

    
</body>
</html>