<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="content home">

        <div class="home-header">
            <img src="\assets\Logo.png" alt="logo" id="home-logo">
        </div>

        <div class="home-btns">
            <a href="auth/sign-up">Sign-Up</a>
            <a href="auth/login">Login</a>
        </div>
        
    </div>
</body>

</html>