<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All FAQs</title>
</head>
<body>
    <h1>All FAQs</h1>

    <% if(user.isAdmin){ %> 
        <a href="/faq/new">Add</a>
    <% } %>

    
    <% allFaq.forEach( q => { %>
        <div class="faq-card">
            <p><%= q.question %></p>
            <p><%= q.answer %></p>

            <% if(user.isAdmin){ %> 
                <form action="/faq/<%= q._id %>/delete?_method=DELETE" method="POST">
                    <button type="submit" id="delete">Delete</button>
                </form>

                <form action="/faq/<%= q._id %>/edit" method="GET">
                    <button type="submit" id="edit">Edit</button>
                </form>    
            <% } %>

        </div>
    <% }) %>
</body>
</html>